<main class="holder">
    <section class="homeimg">
        <img src="images/home/portada.jpg" alt="enfermedades laborales">
    </section>
    <section>
        <div class="columnas">
            <div class="bienvenidos left">
                <h2>Bienvenidos</h2>
                <p>El estudio jurídico GUTIERREZ & ASOCIADOS desarrolla su actividad profesional  desde hace más de 15 años en sus sede instalada en la Ciudad de Rosario.
                <P> Su conducción está a cargo de la doctora MARÍA SALOMÉ GUTIERREZ. Apoyan su gestión un grupo de abogados y auxiliares letrados conformando los recursos humanos necesarios para atender la gestión extrajudicial y judicial que nos demanda nuestra clientela.</P>
                <p> A su vez, somos  asistidos por médicos legistas y centros médicos que acompañan a nuestros cientes durante todo el proceso en la Superintendencia de Riesgos del Trabajo.</p>  
                <p>Contamos, además,  con una importante presencia en la ciudad de Reconquista, as como también en a ciudad de Paraná, Entre Rios. </p>
            </div>
        <div class="testimonios right">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">"Muy recomendable, muy amables"</span>
                    <span class="autor">Juan Perez</span>
                </div>
                <div class="testimonio">
                    <span class="cita">"Excelente atención, resolvieron mis problemas rápidamente"</span>
                    <span class="autor">Micaela Scoccia</span>
                </div>
            </div>
        </div>
    </section>
</main>
