<main class="holder">
            <h1>Nuestro Staff</h1>
            <div class="cont">
                <div class="principal">
                <img src="images/nosotros/Salomé Gutierrez.jpeg">
                <h2>M. Salomé Gutiérrez</h2>
                <h3>Abogada - Fundadora</h3> 
                Abogada egresada de la UNR 1994. Nacida en Cruz Alta.
                Fundó el Estudio Juídico Mossant en 2003, actualmente a cargo de Patrocinios y Dictamenes de la Dirección General de Asuntos Jurídicos de la Superintendencia de Rosario.
                Especialista en Derecho Administrativo, postgrado realizado en la UNR.
                Diplomada en Derecho individual del Trabajo en la Universidad Nacional de Rosario y en Derecho Colectivo del Trabajo en la Universidad Nacional de Rosario.
            </div>
            </div>
                <div class="cont">
                    <div class="secundario">
                    <img src="images/nosotros/Marcelo Gutierrez.jpeg">
                    <h2>Marcelo N. Gutiérrez</h2>
                    <h3>Socio - Gerente</h3>
                    Gerente comercial desde el 2015,  líder legal, que con sus habilidades de comunicación y de liderazgo ayuda a definir el rumbo de la empresa alineando las estrategias de negocios con el porvenir jurídico.  Responsable de la planificación de acciones y tareas del área comercial conforme objetivos y metas planteadas. Supervisión de tareas del trabajo en equipo. Encargado de asesorar a los clientes en temas referidos a transacciones bancarias. 
                </div>
                </div>
                <br>
                    <div class="cont">
                        <div class="principal">
                            <img src="images/nosotros/Fernando Bengochea.jpeg">
                            <h2>Fernando Bengochea</h2>
                            <h3>Abogado - Despidos</h3>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, quas eum consectetur corporis, in rerum eius
                            alias veniam iusto itaque voluptas dolore necessitatibus fugiat ipsa deleniti adipisci unde culpa perspiciatis.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi hic labore molestiae molestias natus rerum quis
                            expedita velit atque ducimus id animi aperiam, itaque earum! Sapiente maiores reprehenderit omnis consectetur.
                        </div>
                    </div>
                    <div class="cont">
                        <div class="secundario">
                            <img src="images/nosotros/Constanza Pascual.jpeg">
                            <h2>Constanza Pascual</h2>
                            <h3>Abogada - Tránsito</h3>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, quas eum consectetur corporis, in rerum eius
                            alias veniam iusto itaque voluptas dolore necessitatibus fugiat ipsa deleniti adipisci unde culpa perspiciatis.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi hic labore molestiae molestias natus rerum quis
                            expedita velit atque ducimus id animi aperiam, itaque earum! Sapiente maiores reprehenderit omnis consectetur.
                        </div>
                    </div>
                    <br>
                        <div class="cont">
                            <div class="principal">
                                <img src="images/nosotros/Franco Sibillin.jpeg">
                                <h2>Franco Sibillin</h2>
                                <h3>Abogado - Laboral</h3>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, quas eum consectetur corporis, in rerum eius
                                alias veniam iusto itaque voluptas dolore necessitatibus fugiat ipsa deleniti adipisci unde culpa perspiciatis.
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi hic labore molestiae molestias natus rerum quis
                                expedita velit atque ducimus id animi aperiam, itaque earum! Sapiente maiores reprehenderit omnis consectetur.
                            </div>
                        </div>
                        <div class="cont">
                            <div class="secundario">
                                <img src="images/nosotros/Andrea Zini.jpeg">
                                <h2>Andrea Zini</h2>
                                <h3>Secretaria</h3>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, quas eum consectetur corporis, in rerum eius
                                alias veniam iusto itaque voluptas dolore necessitatibus fugiat ipsa deleniti adipisci unde culpa perspiciatis.
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi hic labore molestiae molestias natus rerum quis
                                expedita velit atque ducimus id animi aperiam, itaque earum! Sapiente maiores reprehenderit omnis consectetur.
                            </div>
                        </div>
            </main>