<main class="holder">
        <h1>Nuestros Servicios</h1>
            <div class="caja1">
              <h2>Accidentes Laborales - ART</h2>
              <img src="images/Servicios/accidenteslaborales.jpg" alt="accidente laboral">
              <p>Si sufrió un accidente en el trabajo, es decir, suceso repentino que sobrevenga por causa o en ocasión del trabajo, y que produzca en el trabajador una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte tiene derecho a recibir las prestaciones médicas y la indemnización correspondiente por ley.</p>
              <p>Accidente in itinere: Se llama así al accidente que nos ocurre en el trayecto desde nuestra casa hacia nuestro trabajo, o viceversa, siempre y cuando no hayamos interrumpido o desviado nuestro recorrido por causas ajenas al trabajo. </p>
            </div>
        <br>
        <div class="caja2">
            <h2>ART - Enfermedades Laborales</h2>
        <img src="images/Servicios/sindrometunelcarpiano.jpg" alt="sindrome tunel carpiano">
        <p>Una enfermedad laboral consiste en una enfermedad crónica que padece el trabajador y que se produce a causa de movimientos repetitivos o estar expuesto a altos niveles de ruido en el trabajo al no contar con las medidas de prevención adecuada. Se trata de un padecimiento o afección que suele manifestarse con paso del tiempo por lo que muchas veces el trabajador sólo lo nota una vez finalizada la vida laboral.</p>
        <P>Sindrome del Túnel Carpiano - Hipoacusia - Omalgia - Lumbalgia, etc</P>
        </div>
        <br>
        <div class="caja1">
            <h2>Accidentes de Tránsito</h2>
            <img src="images/Servicios/accidentetransito.jpg" alt="accidente tránsito">
            <p>¿Sufriste un accidente de tránsito?</p>
            <p>No importa si sos peatón, ciclista, pasajero, motociclista o conductor. Tenés derecho a una indemnización económica por parte del causante del daño y de su compañía de seguro.</p>
            <p>  
            Te ayudamos a cobrar la mejor indemnización posible por los daños, lesiones o siniestros que sufriste vos o los tuyos en el menor tiempo posible.</p>
          </div>
      <br>
      <div class="caja2">
          <h2>Indemnización por Despidos</h2>
      <img src="images/Servicios/despidos.jpg" alt="indenmización despido">
      <p>Si sufriste un despido, se concierta una entrevista personal con el trabajador interesado y se procede al envío de telegramas al empleador. Una vez cursadas las intimaciones, configurado o impugnado el despido y agotadas todas las instancias, se solicita una audiencia de conciliación obligatoria en el Ministerio de Trabajo.</p>
      <p>En caso de no ser posible un acuerdo se inicia la demanda laboral ante el Juez o Tribunal que resulte competente par que dé inicio al proceso respectivo.</p>
      </div>
      <br>
      <div class="caja1">
        <h2>Sucesiones</h2>
        <img src="images/Servicios/sucesion.jpg" alt="Sucesiones">
        <p>La muerte real o presunta de una persona causa la apertura su sucesión y la transmisión de su herencia. La declaratoria de herederos es una resolución judicial que declara que determinadas personas son herederos universales del fallecido. Es necesario obtener esta declaratoria para poder disponer de cualquier bien registrable del causante (propiedades inmuebles o vehículos).</p>
        <p>Sucesiones en general: declaratoria de herederos, denuncia de bienes, inscripción de los bienes a nombre de los herederos, trámites ante los organismos registrales.</p>
      </div>
</main>
