body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: white;
}

header{
    background-color: #17202A ;
    /* padding: 1em 0; */
    text-align: center;
}

header h1{
    color: white;
    font-size: 2.5em;
    font-family: 'Pattaya', sans-serif;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 55px;
    margin-left: 10px;
}

nav{
    background-color: #34495E;
    margin-bottom: 2em;
}


nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%; /*100 divididos l cantidad de botones*/
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

nav ul li a.activo{
    background-color: #031266;
}

.holder{
    width: 1000px;
    margin: 0 auto;
}

h1{
    color: #031266;
    display: block;
    text-align: center;
    font-family: 'Pattaya', cursive;
    font-weight: 200;
    font-size: 4em;
    margin-top: 6%;
}

h2{
    color: #031266;
    font-weight: 400;
    margin: 0 0 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}
.homeimg{
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    margin-left: 3.5em;
    margin-right: 3.5em; 
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.testimonios{
    width: 25%;
}

.testimonio {
    background-color: #ccc;
    padding: 1em;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
    display: block;
}

.testimonio .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 1em 0;
    margin-top: 2em;
    text-align: center;
}

.holder {
    width: 1000px;
    margin: 0 auto;
}

.cont{
    margin: auto;
    background: whitesmoke;
    width: 700%;
    padding: 20px;

}

.cont {
    float: left;
    width: 50%;
    box-sizing: border-box;
    flex-direction: row;
    /* margin-left: 1px; */
}

.cont:hover {
    background: lightgray;
}

.principal img{
    float: right;
    width: 150px;
    margin-left: 17px;
    margin-bottom: 1.5px;
    border: 8px outset #e5ac1f;
}

h2 {
    color: #2f5580;
}

h3 {
    color: #376394;
}

.secundario img{
    float: left;
    width: 150px;
    margin-right: 17px;
    margin-bottom: 1.5px;
    border: 8px inset #e5ac1f;
}

/* inicio contacto */


.contacto{
    box-sizing: border-box;
}
.columna{
    width: 50%;
    box-sizing: border-box;

}
.left{
    float: left;
}

.right{
    float: right;
}

.columna.left{
    border-right: 2px solid #4c76a5;
}

.formulario label{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.formulario input, 
.formulario textarea{
    background-color: #ccc;
    border-radius: 5px;
    border: 1px solid #999;
    width: 63%;
    padding: 2px;
    font-size: 14px;
}


.formulario textarea{
    resize: none;
    height: 90px;
}

.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px #ccc;
    font-size: 18px;
    /* padding-left: 20px; */
    text-align: center;
    /* width: fit-content; */
    cursor: pointer;
}

.formulario .acciones{
    text-align: center;
}

.aviso{
    font-size: 15px;  
    color: #2f5580;  
  }

.columna.right{
    padding-left: 30px;

}

.enlace:link{
    color: #2f5580;
}

/* comienzo servicios */

.caja1 {
    background-color: rgba(189, 184, 186, 0.712);
    padding: 2%;
    height: 250px;
}

.caja1 img{
    float: right;
    width: 300px;
    margin-left: 17px;
    margin-bottom: 1.5px;
}

.caja1 p{
    font-size: 18px;
}

.caja2{
    background-color: rgba(189, 184, 186, 0.712);
    padding: 2%;
    height: 250px;
}

.caja2 h2 {
    text-align: right;
}
.caja2 img{
    float: left;
    width: 300px;
    padding-right: 2%;
    margin-bottom: 1.5px;
}

.caja2 p {
    font-size: 18px;
}

.cliente {
    width: 45%;
    vertical-align: top;
    margin: auto;
    padding-top: 2em;
    font-size: 20px;
}

.consulta label{
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.consulta input, 
.consulta textarea{
    background-color: #ccc;
    border-radius: 5px;
    border: 1px solid #999;
    width: 45%;
    padding: 2px;
    font-size: 20px;
}


.consulta textarea{
    resize: none;
    height: 90px;
}

.consulta input[type="submit"]{
    background-color: #34495E;
    color: bisque;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    width: 50x;
    cursor: pointer;
}

.consulta .acciones{
    text-align: center;
}

.cierre {
    width: 70%;
    vertical-align: top;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 2em;
    font-size: 20px;
}

.leyenda {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 1px;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.respuesta {
    display: block;
    float: right;
    width: 40%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(13, 101, 241, 0.87);
    animation: fadein linear 4s;
    -webkit-animation: fadein linear 4s;
    -moz-animation: fadein linear 4s;
    -o-animation: fadein linear 4s;
    -ms-animation: fadein linear 4s;
  }

  @keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  